*{
    text-decoration: none;
}
body{
    background-color: #010f1e;
}

header{
    /* background-color: blueviolet; */
    background-image: url(header-background-1.jpg);
    background-size:100% 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 40px;
}
header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #793109;
    text-align: center;
    font-style:italic;
    font-size: 400%;
} 
.handle a{
    /* background-color: white; */
    padding: 1px;
    margin: 5px 5px;
    border-radius: 5px;
    /* opacity: 0.8; */
    font-size: 40px;
    margin-left: auto;
}
nav {
    display: flex;
    background-color: #333;
    overflow: hidden;
    
}
section h2 span{
    background: linear-gradient(to right, #f5d837, #bbb812);
    border-radius: 10px;
    padding: 10px;
}
nav .subscribe{
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight:bolder;
    border-radius: 10px;
    margin-left: auto;
}
nav .subscribe:hover{
    background-color: red;
}
.media  {
    margin-left: auto;
}
.profile_image {
    border-radius: 50%;
}

.yt-handle{
    color: #FF0000;
}
.linkedin-handle{
    color: #0e76a8;
}
.instagram-handle{
    color: #E1306C;
}
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    float: left;    
    padding: 20px;
}
h2,h3,h4,h5,h6{
    padding: 10px;
    color: ivory;
}
section {
  text-align: center;
  height: 100%;
  padding: 75px 5px;
  min-height: 40vh;
}
section:nth-child(even){
    background-color: #00000066;
}

footer{
    display: flex;
    background-color: #333;
    overflow: hidden;
}
.foot{
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 10px;
    color: floralwhite;
}
a:hover{
    color: gold;
    opacity: 1;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
nav a:hover{
    opacity: 1;
    background-color: gray;
    text-decoration: underline;
}
/* nav a:visited{
    color: greenyellow;
    text-decoration: none;
} */
.sm-handle {
    display: flex;
    justify-content: center;
}
.sm-handle a{
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    background-color: rgb(125 125 125 / 25%);
    text-decoration: none;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
}
.carousel-cell video {
  max-width: 100%;
}
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: -1;
}
.profile_id {
    font-size: 2em;
    width: 900;
    letter-spacing: 6px;
    word-spacing: 4px;
    margin: 20px 0px 30px 0px;
    text-transform: uppercase;
}
.bengali{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
    grid-gap: 50px 100px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(50px, auto);
}

@media screen and (max-width: 600px){
    footer,.sm-handle,nav {
        flex-direction: column;
    }
    nav .subscribe,.handle a{
        margin-left: 0;
    }
}
